    <div class="ae-grid au-xs-ta-center au-mb-4">

      <div *ngFor="let persona of infoService.equipo" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="persona.url" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{persona.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{persona.subtitulo}}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{persona.frase}}</p>
        <a href="#0" class="ae-u-bolder au-underline">{{persona.Facebook}}</a>
      </div>

    </div>

<!--     <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Title example</h4>
        <p>Totam rem aperiam, eaque itae vitae dic aspernatur.</p>
      </div>
    </div> -->
    
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Programación</h6>
        <p class="au-lh-3">Apasionado aprendiz de la programación, concretamente en servicios web y móvil,
          iterando lenta y detalladamente en lenguajes, frameworks, librerias, e integrando el desarrollo en
          proyectos funcionales.  </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Diseño</h6>
        <p class="au-lh-3">Pasión que comenzo con el bosetaje abstracto a paple/lapiz, que 
          ahora forma parte de desarrollos web/móvil, tanto diseño grafico y animaciónes en apoyo a UI/UX. 
        </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Bases de datos</h6>
        <p class="au-lh-3">Aprendiz de la increible area que dota de vida y sentido a los desarrollos web/móvil
          tanto Bases de Datos relacionales y No relacionales, ademas de la implementación de plataformas de cloud computing. 
        </p>
      </div>
    </div>
  
 