<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">
          <li class="rk-menu__item"><a class="rk-menu__link">Programación</a>
          </li>
          <li class="rk-menu__item"><a  class="rk-menu__link">Diseño</a>
          </li>
          <li class="rk-menu__item"><a  class="rk-menu__link">Bases de Datos</a>
          </li>
        </ul>
        <p class="rk-footer__text rk-footer__copy ">
          <span class="ae-u-bold">© </span>
          <span class="ae-u-bolder">{{ anio }} {{infoPaginaS.info.title}} Portafolio </span>All Right Reserved.
        </p>
      </div>

      <div class="ae-grid__item item-lg-4 au-xs-ta-center">
        <a target="_blank" [href]="infoPaginaS.info.linKedin" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
          </svg>
        </a>
        <a target="_blank" [href]="infoPaginaS.info.facebook" class="rk-social-btn">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-tumblr"></use>
          </svg>
        </a>
      </div>

      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <p class="rk-footer__text rk-footer__contact "> 
          <span class="ae-u-bold">Email: </span>
          <span class="ae-u-bolder"> 
            <a href="mailTo: {{infoPaginaS.info.email}} " class="rk-dark-color ">{{infoPaginaS.info.email}}</a>
          </span>
        </p>
        <p class="rk-footer__text rk-footer__by">Created by
          <a href="https://github.com/CarlosJCdevm" class="ae-u-bolder">{{infoPaginaS.info.title}}.</a>
        </p>
      </div>

    </div>
  </footer>
